@model IEnumerable<Google.Apis.PeopleService.v1.Data.Person>

@{
    ViewBag.Title = "IndexAsync";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Google Contacts</h2>

<ol>
    @foreach (var item in Model.SelectMany(x => x.EmailAddresses))
    {
        <li>
            @item.Value
        </li>
    }
</ol>



